.del {
  position: relative;
  display: inline-block;
  width: rem(12);
  height: rem(12);
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;

  // &:hover {
  //   &::after,
  //   &::before {
  //     background-color: $text-color-light;
  //   }
  // }

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: rem(1);
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: $text-color;
    transition: background-color $time-tr;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
