.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 rem(64);

  @media (max-width: $desktop) {
    padding: 0 rem(40);
  }

  @media (max-width: $fablet) {
    padding: 0 rem(20);
  }
}
