.btn {
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  border: 1px solid $theme-color;
  color: $theme-color;
  background-color: #ffffff;
  height: rem(30);
  font-weight: 300;

  transition: all $time-tr;

  &:hover {
    color: #ffffff;
    background-color: $theme-color;


  }

  &:focus,
  &:active {
    outline: none;
  }
}

.btn_link {
  text-decoration: none;
}
