
$theme-color:                  #000000;

// Семантические цвета

$text-color:                  #000000;
$text-color-light:            #9b9b9b;
$title-color:                 #000000;

$main-bg:                     #eaeaea;

$content-bg:                  #ffffff;

$btn-color:                   $theme-color;

$link-color:                  $text-color;
$link-color-hover:            rgba($text-color, 0.5);

$error-color:                 #f65454;

$border-color:                #000000;

// Базовая типографика

$basefontSize: 16px;

$font-size:                   11px;
$font-size--h1:               1.5em;
$font-size--h2:               1em;
$font-size--h3:               1em;
$font-size--h4:               1em;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            0.75em;

$line-height:                 1.4em;

$font-family:                 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$mobile:                       480px;
$fablet:                       767px;
$tablet:                       1023px;
$desktop:                      1280px;
$middle-desktop:               1440px;

$container-mobile:            $mobile - 5;
$container-fablet:            $fablet - 5;
$container-tablet:            $tablet - 10;
$container-desktop:           $desktop - 20;

// Разное

$border-radius:               3px;
$opacity:                     0.7;
$time-tr:                     0.3s;
$shadow:                      0 4px 4px rgba(0, 0, 0, 0.3);

$z-index-modal:               100;
